apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: ms-zentralesportal
  name: ms-zentralesportal
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      labels:
        app: ms-zentralesportal
    spec:
      containers:
      - image: ms-zentralesportal-frontend
        name: ms-zentralesportal-frontend
        ports:
        - containerPort: 80
      restartPolicy: Always
status: {}
